header {
    /* background-color: #A7BEAE; */
    /* background-color: #289f67; */
    /* background-color: #878672; */
    /* background-color: #558B71; */
    background-color: #93B1B5;

    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titlediv {
    display: flex;
    align-items: center;
}

#iconimg {
    padding-left: 1rem;
    width: 8%;
}

#title {
    /* font-style: italic; */
    font-size: 2.5rem;
    font-family:"Trirong", serif;
    font-weight: 500;
    color: rgb(2, 2, 2);
    padding-left: 8px;

}
#title:hover{
    background-image: linear-gradient(to right,yellow, red,yellow, red,yellow, red  );
    background-clip: text;
    color: transparent;
}

#sch {
    width: 15rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    border: 1px solid black;
}

#searchbtn {
    width: 85%;
    height: 80%;
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    
}

#searchicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #93B1B5;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
}

#signIN {
    background-color: white;
    color: black;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius:25%;
    font-family:"Trirong", serif;

}

#signIN:hover {
    background-color: #93B1B5;
    color: white;
}

/* ------------------------------------------------ */
#frontimgdiv {
    width: 100%;
    height: 30rem;  /*35*/
}

#frontimg {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

/* ---------------------------------------------------- */
#firstColumnBackground {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #E7E8D1;
    z-index: -1;
}

#hydContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#colorcharminar {
    display: inline;
    width: 20rem;
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
    top: 2rem;
    margin-left: 1.5rem;
    border-radius: 1rem;
}

#hydContentinner {
    background-color: #E7E8D1;
    grid-column: 2/4;
    grid-row: 1;
    align-content: center;
    font-family: cursive;
    font-size: 1.2rem;
    padding-right: 0.7rem;

}

#quote {
    grid-column: 2/4;
    grid-row: 2;
    align-content: center;
    font-family: cursive;
    font-size: 2rem;
    font-weight: 500;

}

/* ---------------------------------------Insiteplaces-------------------------------------- */
#Insiteplaces {
    margin-top: 3rem;
    background-color: none;
    text-align: center;
    font-family: serif;
    font-size: 2rem;
    font-weight: 500;
    font-family:"Trirong", serif;
    color: black;

}

/* -----------------------------------------#OutSkirts---------------------------------- */
#OutSkirts {
    margin-top: 0rem;
    background-color: none;
    text-align: center;
    font-family: serif;
    font-size: 2rem;
    font-weight: 500;
    font-family:"Trirong", serif;
    color: black;
}

#restaurants {
    margin-top: 0rem;
    background-color: none;
    text-align: center;
    font-family: serif;
    font-size: 2rem;
    font-weight: 500;
    font-family:"Trirong", serif;
    color: black;
}
/* ---------------------------------------carousel---------------------------------- */

/* .card{
    width: 16rem;
    text-align: center;
    border-radius: 20px;
    background-color: #F1F0E8;
    box-shadow: 4px 4px 8px lightblue;
} */
.placeText {
    font-size: 1.3rem;
    font-weight: 500;
    /* font-family: sans-serif; */
    font-family:"Trirong", serif;
    padding: 2px 0px;
    color: black;
}

.placePhoto {
    width: 100%;
    height: 11.5rem;
    object-fit: fill;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px
}
.placeDescription , .explorebtn{
    font-family:"Trirong", serif;
}
.container-fluid {
    margin: 0;
    position: relative;
    padding: 1rem;
    /* background-color: #F1F0E8; */
}

.row {
    margin: 0 2rem;
    margin-left: 3rem;
    align-items: center;
}

.carousel-inner {
    padding: 0rem;
}

.carousel-item {
    padding: 1rem;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1rem;
}

.carousel-indicators {
    position: absolute;
    bottom: -2rem;
    left: 0;
}

.col-md-3,
.col-md-4,
.col-md-2 {
    padding: 0;
}

.card {
    width: 16rem;
    text-align: center;
    border-radius: 20px;
    background-color: #F1F0E8;
    box-shadow: 4px 4px 8px lightblue;
    /* margin:0 1.2rem; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.card:hover {
    transition: all;
    top: -10px;
}

.carousel-indicators li {
    z-index: 2;
    background-color: #A7BEAE;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.carousel-indicators .active {
    background-color: #E7E8D1;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    margin: 0 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 12px;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.explorebtn {
    text-decoration: none;
    padding-bottom: 6px;
}

.explorebtn:hover {
    color: red;
    text-decoration: none;

}

/* -----------------------------------------login and signUp------------------------------------------------- */
.signup_Form {
    display: none;
}

#signin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50rem;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 99;

}

#signin_inner_div {
    text-align: center;
    padding: 3rem 7rem;
    padding-top: 2rem;
    background-color: #faf7f5;

    box-shadow: 0 4px 15px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.7rem;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

#signUp_title {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    font-family:"Trirong", serif;
}

#signup_name,
#signup_mail,
#signup_pswd {
    padding: 0.6rem 1.2rem;
    border: none;
    margin-bottom: 1.5rem;
    border: 2px solid #51737c;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    font-family:"Trirong", serif;

}

/* -----------------------------Login----------------------- */
#loginContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50rem;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 990;
}

#login_inner_div {
    text-align: center;
    padding: 3rem 7rem;
    padding-top: 2rem;
    background-color: #faf7f5;
    box-shadow: 0 4px 15px rgba(22, 21, 21, 0.2);
    border-radius: 0.7rem;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

#signIn_title {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    font-family:"Trirong", serif;
}

#loginmail,
#loginpswd {
    padding: 0.6rem 2rem;
    /* width: 100%; */
    border: none;
    margin-bottom: 1.5rem;
    border: 2px solid #51737c;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    font-family:"Trirong", serif;

}

#logbtn {
    background-color: #E7E8D1;
    color: black;
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-family:"Trirong", serif;

}

#logbtn:hover {
    background-color: #A7BEAE;
    color: white;
}
#login_inner_div span{
    font-family:"Trirong", serif;
}
#signup_btn {
    background-color: #E7E8D1;
    color: black;
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-family:"Trirong", serif;

}

#signup_btn:hover {
    background-color: #A7BEAE;
    color: white;
}

#signIn_to_SignUp {
    text-decoration: none;
}

#signIn_to_SignUp:hover {
    color: skyblue;
}

/* --------------------------------------------POPUP---------------------------------------------- */

.hidden {
    display: none;
}

#popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #68aef9;
    z-index: 77;
    box-shadow: 2px 8px 8px rgba(0, 0.2, 0.2, 0.2);
    width: 60%;
    max-width: 800px;
    animation: fadeIn 0.3s ease-in-out;
    font-family:"Trirong", serif;

}

#closePopUp {
    background-color: #FF4C4C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 5px;
    cursor: pointer;
    float: right;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

#placeName {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #A7BEAE;
}

#gridDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

#popUpImg {
    width: 100%;
    height: auto;
    grid-column: 1/3;
    grid-row: 1;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#placeDetails {
    grid-column: 3/5;
    grid-row: 1/3;
    padding: 0.5rem;
    /* background-color: #F9F9F9; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Map {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#googleMap {
    border: 2px solid #9ecbfc;
    border-radius: 0.5rem;
    width: 100%;
}

.accordion-button:hover {
    background-color: #E7E8D1;
}

.accordion-item {
    border-radius: 10px;
}

.accordion-header {
    border-radius: 10px;

}


/* --------------------img popup-------------- */

#mainImgPopup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 10000;
    justify-content: center;
    align-items: center;
    animation:0.3s ease-in-out;
    font-family:"Trirong", serif;
    
}
#detailsPopup{
    width: 70%;
    background-color: #faf7f5;
    box-shadow: 0 4px 15px rgba(22, 21, 21, 0.2);
    border-radius: 0.7rem;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000;

}
#grid_adjust{
    display: flex;
    justify-content: center;
    align-items: center;
}
#PlaceName{
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #A7BEAE;
    font-weight: 400;
}

#Img_popup{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#imgPopUpDiv{
    width: 35rem;
    height:auto;
}
#aboutPlace{
    width: 100%;
    padding: 1rem;
    text-align: justify;
}
#close_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    /* background: red; */
    background-color:red;
    color: white;
    border: none;
    padding: 2px 4px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}
#close_btn:hover{
    color: black;
}
#close_btn i{
    font-size: 0.9rem;
}
/* -------------------------------------------Error popup------------------------------ */
#Error_popup{
    display: none;
    width: 35%;
    font-family:"Trirong", serif;
    background-color: #faf7f5;
    box-shadow: 0 4px 15px rgba(22, 21, 21, 0.2);
    border-radius: 0.7rem;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000;
    font-family:"Trirong", serif;
}

#ErrorIcon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px red solid;
    border-radius: 50%;
    width: 6rem;
    height:6rem;
}
#ErrorIcon:hover{
    border: 4px red solid;
}
#ErrorIcon i{
    font-size: 4rem;
}
#Message{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.8rem;
}
#errorDesc{
    padding-bottom:0.8rem;
}
#CloseErr{
    background-color:rgb(248, 54, 54);
    color: white;
    border: none;
    padding: 2px 4px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

/* ---------------------------------------Footer---------------------------------------- */
footer {
    height: 10rem;
    /* background-color: #A7BEAE; */
    /* background-color: #289f67; */
    /* background-color: #878672; */
    /* background-color: #558B71; */
    background-color: #93B1B5;
    align-content: center;
    font-family:"Trirong", serif;
    color: black;
}

#footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 2rem;
}

#footericon {
    width: 6rem;
}

#footerdiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconpic {
    width: 100%;
}

#iconpic:hover {
    background-image: linear-gradient(to right, red, blue, green);
    background-clip: text;
    color: transparent;
}

#footertitle {
    font-size: 2.5rem;
    font-family:italic;
    font-weight: 300;
    color: black;
}

#footertitle:hover {
    background-image: linear-gradient(to right,yellow, red,yellow, red,yellow, red);
    background-clip: text;
    color: transparent;
}

#socialmedia {
    width: 24rem;
    color: black;
}

#socialmedia div i:hover {
    color: blue;
}

#socialmedia div span:hover {
    color: blue;
}

#footerImg {
    width: 30rem;
    height: 10rem;
}

#fImg {
    width: 100%;
    height: 100%;
}

/* ---------------------------------media quries------------------------- */

@media screen and (min-width:769px)and (max-width:1240px) {
    #titlediv {
        width: 20rem;

    }

    #iconimg {
        width: 20%;
    }

    #colorcharminar {
        width: 19rem;
        padding: 0.7rem;

    }

    #hydContentinner {
        font-size: 1rem;
    }

    #quote {
        font-size: 1.5rem;
    }

    #frontimgdiv {
        height: 20rem;
    }

    .col-md-3 {
        width: 50%;
        padding-bottom: 1rem;
    }

    .card {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #googleMap {
        height: 10rem;
        width: 24rem;
    }

    #footericon {
        width: 5rem;
    }

    #footertitle {
        font-size: 1.8rem;
    }

    #socialmedia div span {
        font-size: 0.8rem;
    }

    #socialmedia div i {
        font-size: 0.8rem;
    }

    #popUp {
        width: 60%;
    }
    /* -------------------img details------- */
    #grid_adjust{
        flex-direction: column;
    }
    #Img_popup{
        width: 52%;
    }
    #PlaceName{
        font-size: 1.4rem;
    }
    #aboutPlace{
        font-size:0.9rem;
    }
    /* ---------------------input err popup------------------ */
    #Error_popup{
        width: 45%;
    }
}

@media screen and (min-width:641px)and (max-width:768px) {
    #titlediv {
        width: 20rem;

    }

    #iconimg {
        width: 20%;
    }

    #colorcharminar {
        width: 16rem;
        padding: 0.5rem;

    }

    #hydContentinner {
        font-size: 0.9rem;
    }

    #quote {
        font-size: 1.2rem;
    }

    #frontimgdiv {
        height: 15rem;
    }

    .col-md-3 {
        width: 50%;
        padding-bottom: 1rem;
    }

    .card {
        width: 14rem;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        padding: 2px;
        width: 1.5rem;
        height: 1.5rem;
    }

    #placeName {
        font-size: 1.2rem;
    }

    #Acc_Text {
        font-size: 0.9rem;
    }

    #flush-collapseOne .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseTwo .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseThree .accordion-body {
        font-size: 0.8rem;
    }

    #googleMap {
        height: 10rem;
        width: 95%;
    }

    .placePhoto {
        height: 9rem;
    }

    .placeText {
        font-size: 1rem;
    }

    .placeDescription {
        font-size: 0.9rem;
    }

    #footerdiv {
        padding-left: 2rem;
    }

    #footericon {
        width: 3.5rem;
    }

    #footertitle {
        font-size: 1.2rem;
    }

    #socialmedia div span {
        font-size: 0.7rem;
    }

    #socialmedia div i {
        font-size: 0.7rem;
    }

    #footerImg {
        display: none;
    }
/* -----------------------img  popup---------- */
    #popUp {
        width: 70%;
    }
    /* --------------img details-------------- */
    #grid_adjust{
        flex-direction: column;
    }
    #Img_popup{
        width: 50%;
    }
    #close_btn{
        padding: 1px 4px;
        border-radius: 6px;
        font-size: 1rem;
    }
    #close_btn i{
        font-size: 0.7rem;
    }
    #PlaceName{
        font-size: 1.3rem;
    }
    #aboutPlace{
        font-size:0.8rem;
    }

}

@media screen and (min-width:491px)and (max-width:640px) {
    #signin_inner_div {
        padding: 1rem 6rem;
        padding-top: 1rem;
    }

    #signUp_title {
        font-size: 1.7rem;
        padding: 1rem 0rem;
    }

    #signup_name,
    #signup_mail,
    #signup_pswd {
        padding: 0.3rem 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #loginContainer {
        max-width: 50rem;
    }

    #signIn_title {
        font-size: 1.5rem;
    }

    #loginmail,
    #loginpswd {
        padding: 0.3rem 1rem;
        margin-bottom: 1rem;
    }

    #login_inner_div {
        padding: 1rem 6rem;
        padding-top: 1rem;
    }

    #logbtn,
    #signup_btn {
        padding: 0.6rem 1.5rem;
        font-size: 0.8rem;
    }

    #loginContainer span,
    a {
        font-size: 0.9rem;
    }

    header {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #titlediv {
        width: 13rem;

    }

    #iconimg {
        width: 18%;
    }

    #title {
        font-size: 1.2rem;
    }

    #sch {
        width: 12rem;
    }

    #colorcharminar {
        width: 11rem;
        padding: 0.5rem;
        margin-left: 0.5rem;

    }

    #hydContentinner {
        font-size: 0.7rem;
    }

    #quote {
        font-size: 0.9rem;
    }

    #frontimgdiv {
        height: 11rem;
    }

    .col-md-3 {
        width: 50%;
        padding-bottom: 1rem;
    }

    #Insiteplaces,
    #OutSkirts,
    #restaurants {
        font-size: 1.3rem;
    }
    .row{
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card {
        width: 10.5rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        padding: 2px;
        width: 1.5rem;
        height: 1.5rem;
    }

    #placeName {
        font-size: 1.2rem;
    }

    #Acc_TextOne ,#Acc_TextTwo, #Acc_TextThree {
        font-size: 0.9rem;
    }

    #flush-collapseOne .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseTwo .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseThree .accordion-body {
        font-size: 0.8rem;
    }

    .placePhoto {
        height: 6.5rem;
    }

    .placeText {
        font-size: 1rem;
    }

    .placeDescription {
        font-size: 0.7rem;
    }

    .explorebtn {
        font-size: 0.7rem;
    }

    #googleMap {
        height: 7rem;
        width: 90%;
    }

    #footerdiv {
        padding-left: 2rem;
    }

    #footericon {
        width: 3.5rem;
    }

    #footertitle {
        font-size: 1.2rem;
    }

    #socialmedia div span {
        font-size: 0.7rem;
    }

    #socialmedia div i {
        font-size: 0.7rem;
    }

    #footerImg {
        display: none;
    }
/* -------------------------------img popup----- */
    #popUp {
        width: 80%;
    }
    /* --------------img details-------------- */
    #detailsPopup{
        width: 90%;
    }
    #mainImgPopup{
        width: 100%;
    }
    #grid_adjust{
        flex-direction: column;
    }
    #close_btn{
        padding: 1px 4px;
        border-radius: 6px;
        font-size: 1rem;
    }
    #close_btn i{
        font-size: 0.7rem;
    }
    #PlaceName{
        font-size: 1.2rem;
    }
    #aboutPlace{
        font-size:0.7rem;
    }

    #Img_popup{
        width: 40%;
    }
    /* ---------------input err popup----------------- */
    #Error_popup{
        width: 50%;
    }
    #ErrorIcon{
        width: 5rem;
        height:5rem;
    }
    #ErrorIcon:hover{
        border: 3px red solid;
    }
    #ErrorIcon i{
        font-size: 3rem;
    }
    #Message{
        font-size: 1.3rem;
    }
    #errorDesc{
        padding-bottom:0.7rem;
    }
    #CloseErr{
        font-size: 0.9rem;
    }
}

@media screen and (min-width:427px)and (max-width:491px) {
    #signin {
        max-width: 50rem;
    }

    #signin_inner_div {
        padding: 1rem 3rem;
        padding-top: 1rem;
        border-radius: 0.7rem;
    }

    #signUp_title {
        font-size: 1.7rem;
        padding: 1rem 0rem;
    }

    #signup_name,
    #signup_mail,
    #signup_pswd {
        padding: 0.3rem 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #signUp_title {
        font-size: 1.5rem;
    }

    #loginContainer {
        max-width: 50rem;
    }

    #signIn_title {
        font-size: 1.5rem;
    }

    #loginmail,
    #loginpswd {
        padding: 0.3rem 1rem;
        margin-bottom: 1rem;
    }

    #login_inner_div {
        padding: 1rem 3rem;
        padding-top: 1rem;
    }

    #logbtn,
    #signup_btn {
        padding: 0.6rem 1.5rem;
        font-size: 0.8rem;
    }

    #loginContainer span,
    a {
        font-size: 0.9rem;
    }

    header {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #titlediv {
        width: 13rem;

    }

    #iconimg {
        width: 18%;
    }

    #title {
        font-size: 1.2rem;
    }

    #signIN {
        padding: 8px 8px;
        font-size: 10px;
    }

    #sch {
        width: 10.5rem;
    }

    #colorcharminar {
        width: 11rem;
        padding: 0.5rem;
        margin-left: 0.5rem;

    }

    #hydContentinner {
        font-size: 0.7rem;
    }

    #quote {
        font-size: 0.9rem;
    }

    #frontimgdiv {
        height: 11rem;
    }

    .col-md-3 {
        width: 50%;
        padding-bottom: 1rem;
    }

    #Insiteplaces,
    #OutSkirts,
    #restaurants {
        font-size: 1.3rem;
    }
    .row{
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card {
        width: 8.5rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        padding: 2px;
        width: 1.5rem;
        height: 1.5rem;
    }

    .carousel-indicators li {
        width: 0.8rem;
        height: 0.8rem;
    }

    #flush-collapseOne .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseTwo .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseThree .accordion-body {
        font-size: 0.8rem;
    }

    .placePhoto {
        height: 5.5rem;
    }

    .placeText {
        font-size: 0.9rem;
    }

    .placeDescription {
        font-size: 0.6rem;
    }

    .explorebtn {
        font-size: 0.7rem;
    }
    #gridDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #popUpImg {
        width: 60%;
    }

    #placeDetails {
        width: 98%;
        /* grid-column: 1/5;
        grid-row: 1/3; */
    }

    #placeName {
        font-size: 1.2rem;
    }

    #Acc_TextOne ,#Acc_TextTwo, #Acc_TextThree {
        font-size: 0.9rem;
    }
    #googleMap {
        height: 6rem;
        width: 80%;
    }

    #footerdiv {
        padding-left: 2rem;
    }

    #footericon {
        width: 3.5rem;
    }

    #footertitle {
        font-size: 1.2rem;
    }

    #socialmedia div span {
        font-size: 0.7rem;
    }

    #socialmedia div i {
        font-size: 0.7rem;
    }

    #footerImg {
        display: none;
    }
    /* -------------------img details popup-------------- */
    #popUp{
        width: 90%;
    }
    /* --------------img details-------------- */
    #detailsPopup{
        width: 90%;
    }
    #mainImgPopup{
        width: 100%;
    }
    #grid_adjust{
        flex-direction: column;
    }
    #close_btn{
        padding: 1px 4px;
        border-radius: 6px;
        font-size: 1rem;
    }
    #close_btn i{
        font-size: 0.7rem;
    }
    #PlaceName{
        font-size: 1.2rem;
    }
    #aboutPlace{
        font-size:0.7rem;
    }

    #Img_popup{
        width: 40%;
    }
    /* ---------------input err popup----------------- */
    #Error_popup{
        width: 50%;
    }
    #ErrorIcon{
        width: 5rem;
        height:5rem;
    }
    #ErrorIcon:hover{
        border: 3px red solid;
    }
    #ErrorIcon i{
        font-size: 3rem;
    }
    #Message{
        font-size: 1.3rem;
    }
    #errorDesc{
        padding-bottom:0.7rem;
    }
    #CloseErr{
        font-size: 0.9rem;
    }

}

@media screen and (min-width:375px)and (max-width:427px) {
    #titlediv {
        width: 15rem;

    }

    #iconimg {
        width: 16%;
    }

    #title {
        font-size: 1.2rem;
    }

    #signin {
        max-width: 50rem;
    }

    #signin_inner_div {
        padding: 1rem 3rem;
        padding-top: 1rem;
        border-radius: 0.7rem;
    }

    #signUp_title {
        font-size: 1.7rem;
        padding: 1rem 0rem;
    }

    #signup_name,
    #signup_mail,
    #signup_pswd {
        padding: 0.3rem 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #signIN {
        padding: 2px 10px;
        font-size: 10px;
    }

    #signUp_title {
        font-size: 1.5rem;
    }

    #sch {
        width: 10.5rem;
    }

    #loginContainer {
        max-width: 20rem;
    }

    #signIn_title {
        font-size: 1.5rem;
    }

    #loginmail,
    #loginpswd {
        padding: 0.3rem 1rem;
        margin-bottom: 1rem;
    }

    #login_inner_div {
        padding: 1rem 3rem;
        padding-top: 1rem;
    }

    #logbtn,
    #signup_btn {
        padding: 0.6rem 1.5rem;
        font-size: 0.8rem;
    }

    #loginContainer span,
    a {
        font-size: 0.9rem;
    }

    #frontimgdiv {
        height: 8.5rem;
    }

    #colorcharminar {
        width: 9rem;
        top: 1rem;
        padding: 0.5rem;
        margin-left: 0.5rem;

    }

    #hydContentinner {
        font-size: 0.5rem;
    }

    #quote {
        font-size: 0.7rem;
    }


    .col-md-3 {
        width: 50%;
        padding-bottom: 1rem;
    }

    #Insiteplaces,
    #OutSkirts,
    #restaurants {
        font-size: 1.2rem;
    }

    #carouselExampleIndicators1,
    #carouselExampleIndicators2,
    #carouselExampleIndicators3 {
        padding: 0px 5px;
    }
    .row{
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card {
        width: 7.5rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .carousel-indicators li {
        width: 0.5rem;
        height: 0.5rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: auto;
        margin: 0 3px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        padding: 2px;
        width: 1.2rem;
        height: 1.2rem;
    }

    .placePhoto {
        height: 5rem;
    }

    .placeText {
        font-size: 0.5rem;
    }

    .placeDescription {
        font-size: 0.4rem;
    }

    .explorebtn {
        font-size: 0.5rem;
    }
    #gridDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #popUpImg {
        width: 75%;
        height: 8.5rem;
    }

    #placeDetails {
        width: 98%;
    }

    #placeName {
        font-size: 1.2rem;
    }

    #Acc_TextOne ,#Acc_TextTwo, #Acc_TextThree {
        font-size: 0.9rem;
    }

    #flush-collapseOne .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseTwo .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseThree .accordion-body {
        font-size: 0.8rem;
    }

    #googleMap {
        height: 6rem;
        width: 90%;
    }
    #closePopUp {
        padding: 3px 4px;
        font-size: 0.8rem;
    }
    #footerdiv {
        justify-content: space-evenly;
        padding-left: 1rem;
    }

    #footericon {
        width: 2.2rem;
    }

    #footertitle {
        font-size: 1rem;
    }

    #socialmedia {
        width: 12rem;
    }

    #socialmedia div span {
        font-size: 0.55rem;
    }

    #socialmedia div i {
        font-size: 0.5rem;
    }

    #footerImg {
        display: none;
    }
    /* -------------------img details popup-------------- */
    #popUp{
        width: 90%;
    }
    /* --------------img details-------------- */
    #detailsPopup{
        width: 90%;
    }
    #mainImgPopup{
        width: 100%;
    }
    #grid_adjust{
        flex-direction: column;
    }
    #close_btn{
        padding: 1px 4px;
        border-radius: 6px;
        font-size: 1rem;
    }
    #close_btn i{
        font-size: 0.7rem;
    }
    #PlaceName{
        font-size: 1.2rem;
    }
    #aboutPlace{
        font-size:0.7rem;
    }

    #Img_popup{
        width: 35%;
    }
    /* ---------------input err popup----------------- */
    #Error_popup{
        width: 60%;
    }
    #ErrorIcon{
        width: 4rem;
        height:4rem;
    }
    #ErrorIcon:hover{
        border: 2.5px red solid;
    }
    #ErrorIcon i{
        font-size: 2.5rem;
    }
    #Message{
        font-size: 1.1rem;
    }
    #errorDesc{
        padding-bottom:0.6rem;
    }
    #CloseErr{
        font-size: 0.9rem;
    }

}

@media screen and (max-width:374px) {
    #titlediv {
        width: 12.5rem;
    }

    #iconimg {
        width: 22%;
    }

    #title {
        font-size: 1rem;
    }
    #sch {
        width: 10rem;
        height: 2rem;
        padding: 0 0.5rem;
    }
    
    #searchbtn {
        width: 75%;
        height: 70%;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    
    #searchicon {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        font-size: 0.5rem;
    }
    #signIN {
        padding: 2px 12px;
        font-size: 10px;
    }
    #signin {
        max-width: 50rem;
    }

    #signin_inner_div {
        padding: 1rem 2rem;
        padding-top: 1rem;
        border-radius: 0.7rem;
    }

    #signUp_title {
        font-size: 1.5rem;
        padding: 1rem 0rem;
    }

    #signup_name,
    #signup_mail,
    #signup_pswd {
        padding: 0.3rem 0.9rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #signUp_title {
        font-size: 1.2rem;
    }

    #sch {
        width: 10.5rem;
    }

    #loginContainer {
        max-width: 50rem;
    }

    #signIn_title {
        font-size: 1.2rem;
    }

    #loginmail,
    #loginpswd {
        padding: 0.3rem 0.9rem;
        margin-bottom: 1rem;
    }

    #login_inner_div {
        padding: 1rem 2rem;
        padding-top: 1rem;
    }

    #logbtn,
    #signup_btn {
        padding: 0.6rem 1.5rem;
        font-size: 0.8rem;
    }

    #loginContainer span,
    a {
        font-size: 0.8rem;
    }

    #frontimgdiv {
        height: 7rem;
    }

    #colorcharminar {
        width: 7.5rem;
        top: 1rem;
        padding: 0.5rem;
        margin-left: 0.5rem;

    }

    #hydContentinner {
        font-size: 0.45rem;
    }

    #quote {
        font-size: 0.55rem;
    }


    .col-md-3 {
        width: 50%;
        padding-bottom: 1rem;
    }
    
    #Insiteplaces,
    #OutSkirts,
    #restaurants {
        font-size: 1.1rem;
    }

    #carouselExampleIndicators1,
    #carouselExampleIndicators2,
    #carouselExampleIndicators3 {
        padding: 0px 5px;
    }
    .row{
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card {
        width: 6rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .carousel-indicators li {
        width: 0.5rem;
        height: 0.5rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: auto;
        margin: 0 3px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        padding: 2px;
        width: 1.2rem;
        height: 1.2rem;
    }

    .placePhoto {
        height: 4.5rem;
    }

    .placeText {
        font-size: 0.5rem;
    }

    .placeDescription {
        font-size: 0.4rem;
    }

    .explorebtn {
        font-size: 0.4rem;
    }
    #gridDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #popUpImg {
        width: 80%;
        height: 7rem;
    }

    #placeDetails {
        width: 98%;
    }

    #placeDetails {
        grid-column: 1/5;
        grid-row: 1/3;
    }

    #placeName {
        font-size: 1rem;
    }

    #Acc_TextOne ,#Acc_TextTwo, #Acc_TextThree {
        font-size: 0.9rem;
    }

    #flush-collapseOne .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseTwo .accordion-body {
        font-size: 0.8rem;
    }

    #flush-collapseThree .accordion-body {
        font-size: 0.8rem;
    }

    #googleMap {
        height: 6rem;
        width: 95%;
    }
    #closePopUp {
        padding: 3px 4px;
        font-size: 0.8rem;
    }

    #footerdiv {
        justify-content: space-evenly;
        padding-left: 1rem;
    }

    #footericon {
        width: 2.2rem;
    }

    #footertitle {
        font-size: 1rem;
    }

    #socialmedia {
        width: 12rem;
    }

    #socialmedia div span {
        font-size: 0.55rem;
    }

    #socialmedia div i {
        font-size: 0.5rem;
    }

    #footerImg {
        display: none;
    }
    /* -------------------img details popup-------------- */
    #popUp{
        width: 90%;
    }
    /* --------------img details-------------- */
    #detailsPopup{
        width: 90%;
        padding: 4px;
    }
    #mainImgPopup{
        width: 100%;
    }
    #grid_adjust{
        flex-direction: column;
    }
    #close_btn{
        padding: 1px 4px;
        border-radius: 6px;
        font-size: 1rem;
    }
    #close_btn i{
        font-size: 0.7rem;
    }
    #PlaceName{
        font-size: 1rem;
    }
    #aboutPlace{
        font-size:0.7rem;
        width: 98%;
    }

    #Img_popup{
        width: 35%;
    }
    /* ---------------input err popup----------------- */
    #Error_popup{
        width: 60%;
    }
    #ErrorIcon{
        width: 4rem;
        height:4rem;
    }
    #ErrorIcon:hover{
        border: 2.5px red solid;
    }
    #ErrorIcon i{
        font-size: 2.5rem;
    }
    #Message{
        font-size: 1.1rem;
    }
    #errorDesc{
        padding-bottom:0.6rem;
    }
    #CloseErr{
        font-size: 0.9rem;
    }

}